---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

$grid-overlay: "true"

// .col
//   background: transparentize(pink, 0.5)

$main-width: 1200px
$border-radius: 5px
$nav-height: 1rem

//fonts
$bodyfont: {{site.data.settings.body_font}}
$headerfont: {{site.data.settings.header_font}}

//colors

$brand: {{site.data.settings.brand_color_hex}}
$brand-light: lighten($brand, 20%)
$brand-dark: darken($brand, 20%)
$transparent-black: {{site.data.settings.nav_color_rgb}}
$hf-color: #323232
$hf-hover: lighten($hf-color, 20%)
$hf-text-color: white

//Mixins
@mixin box-shadow
  box-shadow: 0px 2px 3px black
@mixin text-shadow
  text-shadow: 0 2px 4px black
@mixin timing
  -webkit-transition: 0.3s
  transition: 0.3s

@mixin size($n)
  height: $n
  width: $n

@import "base"
@import "toast"
@import "nav"
@import "header"
@import "posts"
@import "footer"
@import "aside"
