---
layout: default
client_photo_path: /img/durwin_headshot.png
---
<div class="row">
  <div class="col col--8-of-12">
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% include aside.html %}
</div>
