<aside class="col col--4-of-12">
  <h2>About</h2>
  <div class="headshot"></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ut iure deleniti ex, nobis, vero dolorum reiciendis animi sapiente quibusdam quaerat, fugit minima vitae? Non laudantium cupiditate nulla sint aut.</p>
  <p>Voluptate sapiente, ipsum illo deleniti dolor, reprehenderit beatae officia eos et consectetur cumque veritatis deserunt. Quos autem sequi veritatis vitae fuga dolores quae quaerat neque maxime asperiores, eveniet velit odit.</p>
  <a href="#" class="button">Yelp</a>
  <a href="#" class="button">Zillow</a>
  <a href="#" class="button">Trulia</a>
  <a href="#" class="button">Subscrib to our podcast</a>
  <br>
  <strong>Client Name</strong>
  <br>
  Client Company
  <address>
    123 Fake St. Omaha, NE
  </address>
  <a href="#">1-234-567-8910</a>
  <br>
  <a href="#">Example@email.com</a>
  <br>
  <a href="#">Example.com</a>
  <h2>Send us a message</h2>
  <form action="">
    <input type="text">
    <textarea name="name"></textarea>
    <input type="submit">
  </form>
</aside>
