<aside class="col col--4-of-12">
  <h2>About</h2>
  <div class="headshot" style="background-image: url({{site.data.settings.client_photo_path}})"></div>
  <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto ut iure deleniti ex, nobis, vero dolorum reiciendis animi sapiente quibusdam quaerat, fugit minima vitae? Non laudantium cupiditate nulla sint aut.</p>
  <p class="editable">Voluptate sapiente, ipsum illo deleniti dolor, reprehenderit beatae officia eos et consectetur cumque veritatis deserunt. Quos autem sequi veritatis vitae fuga dolores quae quaerat neque maxime asperiores, eveniet velit odit.</p>
  <a href="{{site.data.settings.socials.yelp}}" class="button review yelp">Yelp</a>
  <a href="{{site.data.settings.socials.zillow}}" class="button review zillow">Zillow</a>
  <a href="{{site.data.settings.socials.Trulia}}" class="button review trulia">Trulia</a>
  <a href="{{site.data.settings.podcast}}" class="button podcast">Subscribe to our podcast</a>
  <br>
  <strong>{{ site.data.settings.client.name }}</strong>
  <br>
  {{ site.data.settings.client.company }}
  <address>
    {{ site.data.settings.client.address }}
  </address>
  <a href="tel:{{site.data.settings.client.phone}}">{{site.data.settings.client.phone}}</a>
  <br>
  <a href="mailto:{{site.data.settings.client.email}}">{{site.data.settings.client.email}}</a>
  <br>
  <a href="{{site.data.settings.client.url | prepend: 'http://'}}">{{site.data.settings.client.url}}</a>
  <h2>Ask us a Question</h2>

  <!-- Contact Form -->
  <form id="contact-form" method="post" action="http://vyralmarketing.com/staticforms/sendEmail.php" onsubmit="return setReturn()">
  <input type="hidden" value="{{site.data.settings.client.email}}" name="emailTo" />
  <p id="thanks"></p>
  <div class="contact-info">
  <input placeholder="Name*" type="text" name="name" required />
  <input placeholder="Email*" type="Email" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
  </div>
  <textarea placeholder="Message*" name="message" required></textarea>
  <input type="submit" value="Ask" name="submitContact" />
  </form>
  <script>
  function setReturn(){
    localStorage.setItem("thanks", "Your Question was sent successfully!");
    document.getElementById("thanks").innerHTML =    localStorage.getItem("thanks");
    localStorage.clear();
  }
  </script>
</aside>
