<footer class="row" id="footer">
  <div class="col-md-12">
       <address>
            Client Name - Client Business
            <br>
            123 Fake St.
            Chricago Il. 60652
            <br>
            <a href="">555-555-5555</a>
            - 
            <a href="mailto:someone@email.com">Someone@email.com</a>
        </address>
    <div class="attribution">
      <p>Proudly Brought To You By <a href="http://getvyral.com">Vyral Marketing</a></p>
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</footer>
