<nav class="row">
  <div id="top-nav">
    <ul class="col col--7-of-12 nav-links">
      {% for page in site.pages %}
        {% if page.title %}
        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="col col--5-of-12 socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
    </ul>
</div>
</nav>
<header class="row">
  <div class="banner col col--12-of-12">
    <img src="img/Ihara_Blog.png" id='banner-image' alt="">
    <h1 class="sr-only">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
  </div>
</header>
{% include cta.html %}
