<nav class="row">
  <ul class="col col--7-of-12 nav-links">
    {% for page in site.pages %}
      {% if page.title %}
      <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <ul class="col col--5-of-12 socials">
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  </ul>
</nav>
<header class="row">
  <div class="banner col col--12-of-12">
    <img src="http://placehold.it/1200x300" id='banner-image' alt="">
  </div>
</header>
<section class="cta row">
    <div class="col col--6-of-12">
      <a href="#" class="button">Free Home Value Report</a>
      <a href="#" class="button">Search Form Homes</a>
    </div>
    <div class="col col--6-of-12">
      <form action="">
        <input type="text">
        <input type="submit">
      </form>
    </div>
</section>
