.headshot
  @include size(200px)
  background: url('http://fillmurray.com/300/300')
  border-radius: 50%
  background-position: center
  background-size: cover
  border: 1px solid white

.review
  display: block
  text-align: center
  margin: 1rem 0
