\:root
  font-size: 15px

*
  box-sizing: border-box
  -webkit-font-smoothing: subpixel-antialiased

body
  font-family: $bodyfont
  color: $bodycolor
  margin: 0

h1, h2, h3, h4, h5, h6
  font-family: $headerfont

.container
  width: 100%
  max-width: $main-width
  margin: 0 auto

main, aside
  padding: 0.66rem

a
  color: $brand
  text-decoration: none
  @include timing
  &:visited
    color: $brand-dark
  &:hover
    color: $brand-light

button, input[type="submit"], .button
  display: inline-block
  padding: 0.5rem
  color: $hf-text-color
  text-decoration: none
  text-shadow: 0 0 2px $brand-dark
  background: $brand
  border-radius: $border-radius
  border: 1px solid $brand-dark

/* utilities */

// for screen readers
.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0

// .row
//   margin: 10px auto
//   max-width: $main-width
