#top-nav
  position: fixed
  z-index: 5
  width: 100%
  text-align: right
  @include timing
  @include text-shadow

.nav-links, .socials
  list-style-type: none
  margin-top: $nav-height
  margin-bottom: $nav-height
  text-transform: capitalize
  .fa
    @include size(20px)
  li
    display: inline-block
    a
      color: $hf-text-color
      text-decoration: none
      padding: $nav-height $nav-height/2
      &:hover
        color: $brand

.nav-inverse
  background-color: $transparent-black
  @include box-shadow
  a:hover
    background: $hf-hover
    color: white !important

.socials
  text-align: right
  li
    text-align: center
    svg
      fill: white
      -webkit-filter: drop-shadow(0 2px 2px black)
      filter: drop-shadow(0 2px 2px black)
      height: 1rem
