nav.row
  margin-left: 0

#top-nav
  background-color: $hf-color

.nav-links, .socials
  list-style-type: none
  margin-top: $nav-height
  margin-bottom: $nav-height
  li
    display: inline-block
    a
      color: $hf-text-color
      text-decoration: none
      padding: $nav-height $nav-height/2
      &:hover
        background: $hf-hover
