.post-list
  list-style-type: none
  li
    background: white
    padding: 2rem
    margin: 1rem 0
    box-shadow: 0 0 7px $transparent-black

.post-wrapper
  position: relative

.post-meta
  // background: $brand
  // color: white
  // position: absolute
  // top: 0
  // left: 0
  // margin-left: 5px
  // padding: 1rem

.post-title
  font-size: 1.4rem
  display: inline

.post-image
  max-width: 400px
  width: 100%
  display: inline-block
  padding: 1rem
  float: left

.pagination
  text-align: center
  font-weight: bold
  padding: 1rem
