<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="post">
    {% include nav.html %}
    <header id="hero" style="background-image: url({{site.data.settings.hero_image_path}})">
      <div class="container">
      <div class="row">
        <div class="banner col col--12-of-12">
          <a href="{{site.url}}">
            <img src="{{site.data.settings.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="hero-logo">
            <h2 class="title">{{site.title}}</h1>
          </a>
            <h1 class="site-title">{{page.title}}</h1>
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
          {% for tag in post.tags | join: ',' %}
            <a href="#" class="tag">{{tag}}</a>
          {% endfor %}
        </div>
      </div>
    </div> <!-- container -->
    </header>
    <div class="container">

      <main>

        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

        </article>
      </main>

    </div> <!-- container -->

    {% include footer.html %}

  </body>

</html>
